<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="style.css" rel="stylesheet">
    </head>

    <body>
        <img src = "R:/MenhirFX_ressourcesEntreprise/_Logo/GRADIENT/LOGO_D_FOND_NOIR_MENHIRFX.png", class="img">   
        <h3 id="hello"></h3>

        <div id="chooseWeek">
            <button type="button" id="prevMonth" class="btn"><</button>
            <label for="month"></label>
            <select id="month">
                <option value="0">Janvier</option>
                <option value="1">Février</option>
                <option value="2">Mars</option>
                <option value="3">Avril</option>
                <option value="4">Mai</option>
                <option value="5">Juin</option>
                <option value="6">Juillet</option>
                <option value="7">Août</option>
                <option value="8">Septembre</option>
                <option value="9">Octobre</option>
                <option value="10">Novembre</option>
                <option value="11">Décembre</option>
            </select>
            <input type="number" id="year" min="1900" max="2100">
            <button type="button" id="nextMonth"class="btn">></button>
        </div>
        <div id="calendarBlock">
            <button type="button" id="prevWeek" class="btn"><</button>
            <div id="calendar"></div>
            <button type="button" id="nextWeek" class="btn">></button>
        </div>

        <div id="display hours">
            <h4 id="week">Here is the summary of your work for week <span id="weekNumber"></span> of <span id="yearNumber"></span>.</h4>
            <div id="donnees"></div>
            <div id="noDataMessage"></div>
        </div>

        <script id="calendarScript">
            function generateCalendar() {

                var monthIndex = document.getElementById('month').value;
                var year = document.getElementById('year').value;
                var calendarContainer = document.getElementById('calendar');
            
                // Vérification de la validité de la date
                if (year < 1900 || year > 2100) {
                    calendarContainer.innerHTML = 'Année invalide';
                    return;
                }
            
                var date = new Date(year, monthIndex);
                var month = date.getMonth();
                var daysInMonth = new Date(year, month + 1, 0).getDate();
            
                var calendarHTML = '<table class="calendar"><tbody>';
                calendarHTML += '<tr><th>Lun</th><th>Mar</th><th>Mer</th><th>Jeu</th><th>Ven</th><th>Sam</th><th>Dim</th></tr>';
            
                var currentDate = new Date(year, month, 1);
                var firstDayIndex = currentDate.getDay();
                if (firstDayIndex === 0) {
                    firstDayIndex = 6; // Dimanche (0) est le dernier jour de la semaine dans JavaScript
                } else {
                    firstDayIndex--;
                }
        
                var currentDay = 1;
                var totalCells = 5 * 7; // 5 lignes, 7 jours par semaine
                var rowInd=0;
                for (var cell = 0; cell < totalCells; cell++) {
                    if (cell % 7 === 0) {
                    calendarHTML += '<tr>';
                    rowInd++;
                    } 
            
                    if (cell < firstDayIndex || currentDay > daysInMonth) {
                    calendarHTML += '<td class ="dayCell" id="row-' + rowInd + '-cell-' + (cell % 7) + '" class="calendar"></td>'; // Cellule vide avant le premier jour et après le dernier jour du mois
                    } else {
                        var weekIndex = Math.floor((cell + firstDayIndex) / 7);
                        calendarHTML += '<td  class ="dayCell" id="row-' + rowInd + '-cell-' + (cell % 7) + '" onclick="selectDate(this, ' + currentDay + ')" class="calendar">' + currentDay + '</td>'; // Jour du mois avec événement onclick
                        currentDay++;
                    }
            
                    if (cell % 7 === 6) {
                    calendarHTML += '</tr>';
                    }
                }
        
                calendarHTML += '</tbody></table>';
        
                calendarContainer.innerHTML = calendarHTML;

                // Mettre à jour l'écouteur d'événement
                updateCalendarEventListener();
            }
        
            function loadJSFile(filename, callback){
                var script = document.createElement("script");
                script.type = "text/javascript";
                script.src = filename;

                script.onload = function () {
                    // Appel du callback uniquement si le chargement du fichier est réussi
                    callback(true);
                };
                script.onerror = function() {
                    // no data message
                    var noDataMessage = document.getElementById("noDataMessage");
                    noDataMessage.textContent = "Pas de données disponibles pour la semaine sélectionnée.";
                    var donnees = document.getElementById("donnees");
                    donnees.innerHTML = "";

                    // h4 text
                    week_nb = filename.split("/")[4].split("_")[0]
                    document.getElementById("weekNumber").innerHTML=week_nb;
                    year_nb = filename.split("/")[4].split("_")[1]
                    document.getElementById("yearNumber").innerHTML=year_nb;
                };

                document.head.appendChild(script);
            }
            
            function selectDate(cell, day) {
                var monthIndex = document.getElementById('month').value;
                var year = document.getElementById('year').value;
                var month = parseInt(monthIndex) + 1;
        
                // afficher l'année:
                var selectedDate = new Date(year, monthIndex, day);
                var selectedWeek = getWeekNumber(selectedDate);
                var selectedYear = selectedDate.getFullYear();

                // select correct row
                selectRow(parseInt(cell.id.split('-')[1]));

                // load table
                var url = isCurrentWeek(selectedWeek, selectedYear)
                    ? "U:/mesDocuments/HoursTrackerV2/hours.js"
                    : "U:/mesDocuments/HoursTrackerV2/backup/" + selectedWeek + "_" + selectedYear + "_hours.js";

                
                loadJSFile(url, function(succes) {
                    if(succes) {
                        refresh();
                        updateCalendarEventListener(); // Ajout de l'appel à updateCalendar()
                        var noDataMessage = document.getElementById("noDataMessage");
                        noDataMessage.innerHTML = ""; // Effacer le message d'erreur
                    }else{
                        var noDataMessage = document.getElementById("noDataMessage");
                        noDataMessage.innerHTML = "Pas de données disponibles pour la semaine sélectionnée.";
                        var donnees = document.getElementById("donnees");
                        donnees.innerHTML = "";
                    }
                });
                
                return{"week": selectedWeek, "year": selectedYear};
            }
        
            function updateCalendarEventListener() {
                // Écouteur d'événement pour la sélection du mois
                var monthSelect = document.getElementById('month');
                monthSelect.addEventListener('change', updateCalendarEventListener);

                // Écouteur d'événement pour la saisie de l'année
                var yearInput = document.getElementById('year');
                yearInput.addEventListener('input', updateCalendarEventListener);
            }

            function updateCalendar(){
                generateCalendar();
            }

            function isCurrentWeek(week, year) {
                var currentDate = new Date();
                var currentWeek = getWeekNumber(currentDate);
                var currentYear = currentDate.getFullYear();

                return week === currentWeek && year === currentYear;
            }
        
            function getWeekNumber(date) {
                // Copie de la date pour éviter les modifications indésirables
                var copiedDate = new Date(date.getTime());
        
                // Définition du premier jour de la semaine (lundi)
                copiedDate.setHours(0, 0, 0, 0);
                copiedDate.setDate(copiedDate.getDate() + 3 - ((copiedDate.getDay() + 6) % 7));
        
                // Définition de la première semaine de l'année
                var firstWeekOfYear = new Date(copiedDate.getFullYear(), 0, 4);
        
                // Calcul du numéro de semaine
                var weekNumber = Math.round(((copiedDate - firstWeekOfYear) / 86400000 - 3 + ((firstWeekOfYear.getDay() + 6) % 7)) / 7) + 1;
        
                return weekNumber;
            }
        
            // Fonction pour afficher le calendrier du mois précédent
            function showPreviousMonth() {
                var selectedMonthIndex = parseInt(monthSelect.value);
                var selectedYear = parseInt(yearInput.value);
        
                // Décrémente le mois
                selectedMonthIndex--;
                if (selectedMonthIndex < 0) {
                // Si le mois est inférieur à 0, passe à décembre de l'année précédente
                selectedMonthIndex = 11; // Décembre
                selectedYear--;
                }
        
                // Met à jour le select et l'input avec les nouvelles valeurs
                monthSelect.value = selectedMonthIndex;
                yearInput.value = selectedYear;
        
                // Génère le calendrier pour le mois précédent
                updateCalendar();

                // select last row
                rowCells = selectRow(5);

                // load table
                loadTable(year, document.getElementById('month').value, rowCells[0].textContent);
          }
        
            // Fonction pour afficher le calendrier du mois suivant
            function showNextMonth() {
                var selectedMonthIndex = parseInt(monthSelect.value);
                var selectedYear = parseInt(yearInput.value);
        
                // Incrémente le mois
                selectedMonthIndex++;
                if (selectedMonthIndex > 11) {
                    // Si le mois est supérieur à 11, passe à janvier de l'année suivante
                    selectedMonthIndex = 0; // Janvier
                    selectedYear++;
                }
        
                // Met à jour le select et l'input avec les nouvelles valeurs
                monthSelect.value = selectedMonthIndex;
                yearInput.value = selectedYear;
        
                // Génère le calendrier pour le mois suivant
                updateCalendar();

                // select first row
                rowCells = selectRow(1);

                // load table
                loadTable(year, document.getElementById('month').value, rowCells[0].textContent);
            }
        
            function refresh(){
                var donneesDiv = document.getElementById('donnees');
                if (donneesDiv.firstChild) {
                    donneesDiv.removeChild(donneesDiv.firstChild);
                }
                var newTable = createTable();
                donneesDiv.appendChild(newTable);
            }

            function showPreviousWeek(){
                year = parseInt(document.getElementById('yearNumber').textContent)
                week = parseInt(document.getElementById('weekNumber').textContent)
                
                selectedCells = document.querySelectorAll('#calendar td.selected');
                currentRow = parseInt(selectedCells[0].id.split('-')[1]);

                if(currentRow <=1){
                    document.getElementById('month').value -= 1;
                    if(document.getElementById('month').value <= 0){
                        document.getElementById('month').value = 11;
                        document.getElementById('year').value = year - 1;
                    }
                }

                updateCalendarEventListener();
                updateCalendar();

                // Ajoute la classe 'selected' aux cellules de la ligne sélectionnée
                rowIndex = currentRow - 1;
                if (rowIndex < 1) {
                    rowIndex = 5;
                }
                rowCells = selectRow(rowIndex);

                // load table
                loadTable(year, document.getElementById('month').value, rowCells[0].textContent);
                
            }

            function showNextWeek(){
                year = parseInt(document.getElementById('yearNumber').textContent)
                week = parseInt(document.getElementById('weekNumber').textContent)
                
                selectedCells = document.querySelectorAll('#calendar td.selected');
                currentRow = parseInt(selectedCells[0].id.split('-')[1]);

                if(currentRow >=5){
                    index = document.getElementById('month').value;
                    index ++;
                    document.getElementById('month').value = index;
                    if(index >= 12){
                        document.getElementById('month').value = 0;
                        document.getElementById('year').value = year + 1;
                    }
                }

                updateCalendarEventListener();
                updateCalendar();

                // Ajoute la classe 'selected' aux cellules de la ligne sélectionnée
                rowIndex = currentRow + 1;
                if (rowIndex > 5) {
                    rowIndex = 1;
                }
                rowCells = selectRow(rowIndex);

                // load table
                loadTable(year, document.getElementById('month').value, rowCells[0].textContent);
            }

            function selectRow(rowIndex){
                // Supprime la classe 'selected' de toutes les cellules du calendrier
                var calendarCells = document.querySelectorAll('#calendar td');
                calendarCells.forEach(function(cell) {
                    cell.classList.remove('selected');
                });

                // Ajoute la classe 'selected' aux cellules de la ligne sélectionnée
                var rowCells = document.querySelectorAll('#calendar td[id^="row-' + rowIndex + '-cell-"]');
                rowCells.forEach(function (cell) {
                    cell.classList.add('selected');
                });

                return rowCells
            }

            function loadTable(year, month, day){
                date = new Date(year, month, day)
                selectedWeek = getWeekNumber(date);
                selectedYear = parseInt(document.getElementById('year').value)
                
                var url = isCurrentWeek(selectedWeek, selectedYear)
                    ? "U:/mesDocuments/HoursTrackerV2/hours.js"
                    : "U:/mesDocuments/HoursTrackerV2/backup/" + selectedWeek + "_" + selectedYear + "_hours.js";

                
                loadJSFile(url, function(succes) {
                    if(succes) {
                        refresh();
                        updateCalendarEventListener(); // Ajout de l'appel à updateCalendar()
                        var noDataMessage = document.getElementById("noDataMessage");
                        noDataMessage.innerHTML = ""; // Effacer le message d'erreur
                    }else{
                        var noDataMessage = document.getElementById("noDataMessage");
                        noDataMessage.innerHTML = "Pas de données disponibles pour la semaine sélectionnée.";
                        var donnees = document.getElementById("donnees");
                        donnees.innerHTML = "";
                    }
                });

            }
            
            ////// EVENT ///////
            // Écouteur d'événement pour la flèche gauche (mois précédent)
            var prevMonthButton = document.getElementById('prevMonth');
            prevMonthButton.addEventListener('click', showPreviousMonth);
        
            // Écouteur d'événement pour la flèche droite (mois suivant)
            var nextMonthButton = document.getElementById('nextMonth');
            nextMonthButton.addEventListener('click', showNextMonth);
        
            // Écouteur d'événement pour la sélection du mois
            var monthSelect = document.getElementById('month');
            monthSelect.addEventListener('change', updateCalendarEventListener);
            monthSelect.addEventListener('change', updateCalendar);
        
            // Écouteur d'événement pour la saisie de l'année
            var yearInput = document.getElementById('year');
            yearInput.addEventListener('input', updateCalendarEventListener);
            yearInput.addEventListener('input', updateCalendar);

            // Ecouteur d'evenement bouton prevWeek
            var prevWeekButton = document.getElementById('prevWeek');
            prevWeekButton.addEventListener('click', showPreviousWeek);

            // Ecouteur d'evenement bouton nextWeek
            var prevWeekButton = document.getElementById('nextWeek');
            prevWeekButton.addEventListener('click', showNextWeek);
                    
            ///// GENERATE /////
            // Sélection de la semaine actuelle par défaut
            var currentDate = new Date();
            var currentWeek = getWeekNumber(currentDate);
            var currentYear = currentDate.getFullYear();

            // Mise à jour des valeurs du mois et de l'année
            var monthSelect = document.getElementById('month');
            var yearInput = document.getElementById('year');
            monthSelect.value = currentDate.getMonth();
            yearInput.value = currentYear;

            // Génération du calendrier initial
            generateCalendar();

            // Sélection de la date actuelle dans le calendrier
            var currentDay = currentDate.getDate();
            var calendarCells = document.querySelectorAll('#calendar td');
            if (calendarCells && calendarCells.length > 0) {
                calendarCells.forEach(function (cell) {
                    if (cell.textContent == currentDay) {
                        selectDate(cell, currentDay);
                    }
                });
            }        
        </script>
        
        <script id="tableScript">
            
            function createTable(){
            /*
            Create a table according the json file ressource
            return the table
            */
                
                var json_data = JSON.parse(data);

                // user
                user = json_data['user_id'];
                document.getElementById("hello").innerHTML = "Hello " + user + " !";

                // week
                week_nb = json_data['week'];
                year = json_data['year'];
                document.getElementById("weekNumber").innerHTML = week_nb;
                document.getElementById("yearNumber").innerHTML = year;

                // containers
                var tbl = document.createElement("table");
                tbl.setAttribute("class", "hours");
                var tblBody = document.createElement("tbody");

                // creating all cells
                var header_row = document.createElement('tr')
                header_row.setAttribute("class", "date_row")
                var session_row = document.createElement('tr')
                session_row.setAttribute("class", "session_block")
                var donnees = document.getElementById("donnees");

                // each day, create a column
                for (var i = 0; i < json_data.days.length; i++) {
                    var col = document.createElement('th')
                    col.setAttribute("class", "date")
                    var date = json_data.days[i].date
                    var cellText = document.createTextNode(date);
                    col.appendChild(cellText);
                    header_row.appendChild(col)
                    var session_data = document.createElement('td')
                    session_data.setAttribute("class", "assets")

                    // for each project, create a cell
                    for(var j = 0; j < json_data.days[i].projects.length; j++){
                        var total_project = new Date("1970-01-01T00:00:00Z").getTime()
                        var row = document.createElement('tr')
                        row.setAttribute("class", "session_row")
                        var cell = document.createElement('td')
                        cell.setAttribute("class", "cell")

                        var title = document.createElement('td')
                        title.setAttribute("class", "session_title")
                        var project = json_data.days[i].projects[j].project_name
                        var project_text = document.createTextNode(project);

                        title.appendChild(project_text)
                        cell.appendChild(title)
                        
                        // for each asset, create infos
                        for(var k = 0; k < json_data.days[i].projects[j].project_sessions.length; k++){
                            var infos = document.createElement('td');
                            infos.setAttribute('class', 'info');
                            var total = json_data.days[i].projects[j].project_sessions[k].total_time;
                            if(total.split(":")[0].length <= 1){
                                total = "0"+total
                            }
                            total_date = new Date("1970-01-01T" + total + "Z").getTime();
                            total_project += total_date;
                            total = reformat_hours(total);
                            var asset_name = json_data.days[i].projects[j].project_sessions[k].asset_name;
                            var department = json_data.days[i].projects[j].project_sessions[k].department;
                        
                            var total_text = document.createTextNode(total);
                            var asset_text = document.createTextNode(asset_name + '  ' + department + ' : ' + total);

                            infos.appendChild(asset_text)

                            // complete cell
                            cell.appendChild(infos)
                        }
                        var resultDate = new Date(total_project);
                        var hours = resultDate.getUTCHours().toString().padStart(2, "0");
                        var minutes = resultDate.getUTCMinutes().toString().padStart(2, "0");
                        var seconds = resultDate.getUTCSeconds().toString().padStart(2, "0");

                        var total_project_block = document.createElement('td');
                        total_project_block.setAttribute('class', 'info-total');
                        var total_project_text = document.createTextNode(reformat_hours(hours + ":" + minutes + ":" + seconds));
                        total_project_block.appendChild(total_project_text);
                        cell.appendChild(total_project_block);

                        // append cell in row
                        row.appendChild(cell);
                        session_data.appendChild(row);
                        session_row.appendChild(session_data);
                    } 
                    
                    // append containers in containers

                    tblBody.appendChild(header_row);
                    tblBody.appendChild(session_row);
                    tbl.appendChild(tblBody);

                    
                }
                return tbl
                var noDataMessage = document.getElementById("noDataMessage");
                noDataMessage.innerHTML= "";
            
            }

            function reformat_hours(hours){
                s = hours.split(":")
                return s[0] + "h " + s[1];
            }
            
        </script>


    </body>
</html>