html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  background-color: rgb(21, 21, 21);
  word-break: break-all;
}

body {
  color: white;
}

table {
  table-layout: fixed;
  width:100%;
  color: white;
  border-top: 0px;
  border-left: 20px;
  border-right: 20px;
  border-color: white;

  border-spacing: 10px 0px;
}

.date_row{
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 50%, rgba(236, 68, 60, 1));
}
.date {
  letter-spacing: 2px;

  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

  padding: 0.5%;
}

.assets  {
  background-color: rgba(40, 40, 40, 1.0);
  vertical-align: top;
  text-align: center;

  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;

  padding: 10px 0px;
}

.session_row{
  display: inline;
  border-spacing: 10px 10px;
}

.cell {
  background-color: rgba(80, 80, 80, 1);
  border-radius: 15px;
  width: 1%;
  padding: 15px;
}

.session_title {
  font-weight: bold;
  color: rgba(255, 255, 255, 1);

  display : block;
  text-align: left;
  padding-bottom: 10px;
}

.info {
  display : block;
  color: rgba(255, 250, 250, 0.8);
  text-align: right;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 7%;
}

h3 {
  text-align: center;
}

#chooseWeek {
  text-align: center;
}

.btn{
  background-color: rgba(80, 80, 80, 1);
  color: white;
  padding: 5px 8px;

  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(236, 68, 60, 1);
}

select{
  background-color: rgba(80, 80, 80, 1);
  color: white;
  padding: 5px 8px;

  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}